:root {
  --dark-mode: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --background-color: var(--light-mode-background);
  --text-color: var(--light-mode-text);
  --input-background: var(--white);
  --input-text: var(--light-mode-text);
}

body.light-mode {
  --background-color: var(--light-mode-background);
  --text-color: var(--light-mode-text);
  --input-background: var(--white);
  --input-text: var(--light-mode-text);
  --background-hover: var(--light-mode-input);
  --text-hover: var(--white);
}

body.dark-mode {
  --background-color: var(--dark-mode-background);
  --text-color: var(--white);
  --input-background: var(--dark-mode);
  --input-text: var(--white);
  --background-hover: var(--dark-mode);
  --text-hover: var(--white);
}

/* Apply additional global styles as needed */

body {
  background-color: var(--background-color);
}


